In [1]:
import numpy as np
import pandas as pd

In [13]:
arr1 = np.random.random(size=10000) * 100
ser1 = pd.Series(arr1)

In [39]:
ser1.sample(n=10)

1817    45.261767
9837    27.590139
1804    89.036198
34      64.735455
2845    83.675923
7265    65.336713
5022     0.529873
7408    92.038768
7992    58.034403
1600    74.283578
dtype: float64

In [44]:
ser1.sample(frac=0.005,replace=True)

4629    88.993435
8030     3.702342
9939    84.254020
3797    42.922683
8695    12.225804
420     69.397338
5256    48.556225
8146    22.935457
9739     3.201874
4369     1.306386
5187     0.891972
7037    77.256653
7665    41.916045
4638     9.012885
5178    47.615129
6003    44.723813
1724    48.118588
4683     6.459094
7794    67.084256
8115    52.999524
2252    71.436287
4378     8.227463
4200    67.500357
3824    94.329586
9697    84.227478
3987     2.776123
4344    37.102422
6884    20.744245
2130    92.962912
9883    33.338008
3765    43.172771
4828    82.395523
7834     5.270621
6291    79.985076
8715    40.458211
5239    67.230576
9157    15.760716
5904    25.867354
5089    36.770753
6430    88.476165
2762    33.783253
7453    38.680776
9622    50.479185
4815    79.335342
9486    98.151295
2080    39.100969
6647    33.409451
1961    61.290197
1197    90.647547
2974    31.117578
dtype: float64

In [45]:
ser2 = pd.Series(['H','T'])

In [60]:
ser2.sample(10,replace=True)

0    H
0    H
0    H
1    T
0    H
0    H
0    H
0    H
0    H
1    T
dtype: object

In [88]:
pop = pd.Series(['M','F']).sample(100000,replace=True)
pop.name = "Gender"

In [78]:
pop.value_counts()

F    50189
M    49811
Name: Gender, dtype: int64

In [79]:
# 90% of F buy handbags and 10% M buy handbags
sample1 = pop.sample(n = 150)

In [80]:
sample1.value_counts()

F    77
M    73
Name: Gender, dtype: int64

In [81]:
0.95*150

142.5

In [89]:
s1 = pop.loc[pop == "M"].sample(frac = 0.05)
s2 = pop.loc[pop == "F"].sample(frac = 0.95)
sample = pd.concat([s1,s2])

In [90]:
sample.value_counts()

F    47396
M     2505
Name: Gender, dtype: int64

In [92]:
ser1.median()

50.288546743270956

In [93]:
ser1.quantile([0.5])

0.5    50.288547
dtype: float64