#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

In [23]:
import datetime
current_date_time = datetime.datetime.now()
print("current date and time ",now)
print("current year ",now.year)
print("current month of the year ",now.month)
print("current week number of the year",now.isocalendar()[1])
print("current day of the week",now.isocalendar()[2])
print("day of the year",now.timetuple().tm_yday)
print("day of the month",now.day)
print("day of the week",now.weekday())

current date and time  2019-10-21 13:14:46.985260
current year  2019
current month of the year  10
current week number of the year 43
current day of the week 1
day of the year 294
day of the month 21
day of the week 0

#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [24]:
from datetime import datetime
mystring = 'Jan 1 2014 2:43PM' 
print(datetime.strptime(mystring,'%b %d %Y %I:%M%p'))

2014-01-01 14:43:00

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [25]:
from datetime import date,timedelta
df = date.today()-timedelta(5)
print("todays date",date.today())
print("5 days minus todays date",df)

todays date 2019-10-21
5 days minus todays date 2019-10-16

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [27]:
print(datetime.datetime.fromtimestamp(int(1284105682)).strftime('%Y-%m-%d %H:%M:%S'))

2010-09-10 13:31:22

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [77]:
import pandas as pd
DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])
DoB_new = DoB.str[:-2]+'19'+DoB.str[-2:]
#pd.to_datetime(DoB,format = '%d%b%y')
DoB_new.to_frame().reset_index()

   index          0
0      0  07Sep1959
1      1  01Jan1955
2      2  15Dec1947
3      3  11Jul1942

#### 6. Write a Python program to get days between two dates.

In [79]:
from datetime import date
first_Date = date(2017,7,11)
last_date = date(2017,7,2)
delta = first_Date - last_date
print(delta.days)

9

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [83]:
pd.to_datetime("15Dec1989").strftime('%A, %d %b %y')

'Friday, 15 Dec 89'